<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Chat</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"  media="screen and (max-width:600px)" href="media.css">
   
   
</head>
<body>
    <nav>
        <img src="logo2.png" alt="" class="logo">
        <h1 style="text-align: center;">Let's chat !!</h1>
    </nav>

    <div class="container"></div>
   

    <div class="send">
        <form action="#" id="send-container">
            <input type="text" name="messageInp" id="messageInp" placeholder="Enter Your Message">
            <button class="btn" type="submit">send</button>
        </form>
    </div>

    <script  src="/socket.io/socket.io.js"></script>
    <script  src="client.js"></script>
</body>
</html>